# Garante que as versões exatas sejam salvas no package-lock.json
save-exact=true

# Usa a versão mais recente do npm
engine-strict=true

# Configura o registry para o npm oficial
registry=https://registry.npmjs.org/

# Habilita cores na saída do npm
color=always

# Configura o engine-strict para garantir a compatibilidade de versão do Node.js
engine-strict=true
